
.page-body__wrapper {
  background-color: @background-overlay;
}

.page-body__wrapper--switch {
  transition: background 0.5s 0.5s;
  background-color: @basic-black;
}

.page-body__wrapper.page-body__wrapper--switch {
  background-color: @background-overlay;
}

.page-body__wrapper--switch .block-dropdown__enter {
  background-color: @bsic-black__input--background;
}

.page-body__wrapper--switch .description-block__heading {
  color: @basic-white--heading;
}

.page-body__wrapper--switch .description-block__text {
  color: @basic-white--heading;
}

.page-body__wrapper--switch .block-dropdown__checkbox--label {
  color: @extra-gray;
}

.page-body__wrapper--switch .block-dropdown__description {
  color: @extra-gray;
}
